doctype html
html
  head
    title= 'RUSKY PALACE'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href='../images/favicon.png' type='image/png')
  body
    header
      span#restname RUSKY PALACE
    block content